.image{
    width: 150px;
    height: 150px;
    display: flex;

}
.contenedor-general{
    display: flex;
    
}

.contenedor {
    display: flex; /* Mantén Flexbox */
    flex-direction: column; /* Asegúrate de que los hijos se apilen */
    
    height: fit-content;
    width: 80%;
}

.contenedor .form-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Divide en 4 columnas iguales */
    gap: 16px; /* Espaciado uniforme entre las columnas */
    margin-top: 20px;
    padding: 0;
    background-color: #fff; /* Fondo blanco como en la imagen */
}

.contenedor .form-container .column {
    display: flex;
    justify-content: flex-start;
    color: #ccc;
    font-size: 14px;
    align-items: center; /* Asegura que los elementos estén alineados verticalmente */
}

.contenedor .form-container .column span {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    
    margin-right: 10px;
}

/* .form-container .column input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #a1a1a1;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8f8f8; 
    box-sizing: border-box;
}

.form-container .column input:disabled {
    color: #555;
    background-color: #e9ecef; 
    cursor: not-allowed;
}*/

.form-container .column .image {
    width: 150px;
    height: 150px;
    display: flex; /* Usamos flexbox para evitar que la imagen afecte el tamaño de la fila */
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    border: 1px solid black;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}




.headers{
    margin-top: 60px;
    
}

.empty-text{
    position: absolute;
    top: 80%;
    left: 60%;
    
}


/*spinner-personalizado*/
.spinner-container {
  display: flex;
  gap: 85px;
  align-items: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 40px auto;
  
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #3498db;
  position: absolute;
  animation: spin 1.2s linear infinite;
  transform-origin: 40px 40px;
}

.circle-1 { top: 0; left: 32px; animation-delay: 0s; }
.circle-2 { top: 12px; left: 56px; animation-delay: 0.1s; }
.circle-3 { top: 32px; left: 64px; animation-delay: 0.2s; }
.circle-4 { top: 56px; left: 56px; animation-delay: 0.3s; }
.circle-5 { top: 64px; left: 32px; animation-delay: 0.4s; }
.circle-6 { top: 56px; left: 8px; animation-delay: 0.5s; }

@keyframes spin {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.5); opacity: 0.5; }
  100% { transform: scale(1); opacity: 1; }
}


@media screen and (max-width: 1370px) {
    .contenedor .form-container {
        grid-template-columns: repeat(2, 1fr); 
    }
    
    .image{
        width: 100px;
        height: 100px;
    }
}

/* Pantallas pequeñas: 1 columna */
@media screen and (max-width: 860px) {
    .contenedor .form-container {
        grid-template-columns: 1fr; /* 1 columna */
    }

    .image{
        width: 50px;
        height: 50px;
    }
}

@media screen and(max-width: 500px) {
    .contenedor .form-container .column{
        flex-direction: column;
    }
}